<h1>Your pet's next outfit...</h1>

<div class="container d-flex justify-content-between mt-5">
  <div class="card_grid">
    <% @outfits.each do |outfit| %>
      <%= render "/outfits/outfit_card", outfit: outfit%>
    <% end %>
  </div>
</div>
