<h1 class="text-center">Your pet's next outfit...</h1>

<div class="container">
  <div class="row">
    <div class="col-4">
      <% @outfits.each do |outfit| %>
        <%= render "outfit_card" %>
      <% end %>
    </div>
  </div>
</div>
