<div class="container">
  <div class="row">
    <div class="col-6">
      <% if @renter_bookings.any? %>
        <h2>Your pending booking requests:</h2>
          <% @renter_bookings.each do |booking| %>
            <% if booking.status == "pending" %>
              <%= render "booking_card", booking: booking %>
            <% else %>
              <p>You have no pending requests to respond.</p>
            <% end %>
          <% end %>

        <h2>Confirmed booking requests for your outfits:</h2>
          <% @renter_bookings.each do |booking| %>
            <% if booking.status == "accepted" %>
              <%= render "booking_card", booking: booking %>
            <% else %>
              <p>You have no outfits being rented right now.</p>
            <% end %>
          <% end %>
      <% end %>
    </div>

    <div class="col-6">
      <% if @rentee_bookings.any? %>
        <h2>Your booked outfits:</h2>
        <% @rentee_bookings.each do |booking| %>
          <%= render "booking_card", booking: booking %>
        <% end %>
      <% else %>
        <h2>You have no upcoming outfits! </h2>
        <%= link_to 'Browse outfits', outfits_path %>
      <% end %>
    </div>
  </div>
</div>
