<div class="container">
  <div class="row justify-content-evenly">
    <div class="col-6">
      <% if @renter_bookings.any? %>
        <h2>Booking requests for your outfits:</h2>
          <% @renter_bookings.each do |booking| %>
              <%= render "booking_card", booking: booking %>
            <% end %>
      <% else %>
        <h2>You have no outfits being rented right now.</h2>
        <%= link_to 'List a new outfit', new_outfit_path, class:"btn btn-flat" %>
      <% end %>
    </div>

    <div class="col-6">
      <% if @rentee_bookings.any? %>
        <h2>Your booked outfits:</h2>
        <% @rentee_bookings.each do |booking| %>
          <%= render "booking_card", booking: booking %>
        <% end %>
      <% else %>
        <h2>You have no upcoming outfits! </h2>
        <%= link_to 'Browse outfits', outfits_path, class:"btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
