<h1>New Booking</h1>

<div class="container mt-5 mb-5 d-flex flex-column align-items-center">
  <%= render "animal_card", outfit: @outfit %>

  <%= render "form_2", outfit: @outfit, booking: @booking %>

</div>
