<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1608096281339-5bcae1ec2f12?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80);">
  <div class="container">
    <h1>PAWSH</h1>
    <p>fabulous pets, for less</p>
    <a class="btn btn-flat" href="/outfits" >Search all pet outfits</a>
  </div>
</div>
