<%= render "banner" %>

<div class="container d-flex justify-content-between mt-5">
  <div class="card_grid">
    <% @outfits.sample(3).each do |outfit| %>
        <%= render "/outfits/outfit_card", outfit: outfit%>
    <% end %>
  </div>
</div>

<div class="d-grid gap-2 col-6 mx-auto mb-10">
  <a class="btn btn-flat" href="/outfits" >Search all pet outfits</a>
</div>
