<%= render "banner" %>

<div class="container d-flex justify-content-between mt-5">
  <%= render "/outfits/outfit_card" %>
  <%= render "/outfits/outfit_card" %>
  <%= render "/outfits/outfit_card" %>
</div>
