  .card_grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:16px;
  }

  @media(max-width: 1368px) {
  .card_grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:16px;
  }
}


.card_grid .card_outfit {
  flex-grow: 1;
}



.card_grid_index {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:16px;
}
