body{
  background-color: $white
}
.card{
  width:60%;
  border:none;
  border-radius: 10px
}
.card-shape{
  background-color: $light-blue;
}

.form-control{
  margin-top: 0px;
  margin-bottom: 25px;
  height: 48px;
  border: 2px solid #eee;
  border-radius: 10px;
  color: #788185;
  background-color: white;

}
.form-control:focus{
  box-shadow: none;
  border: 2px solid $navy;
  background-color: whitesmoke;
}
.agree-text{
  font-size: 12px
}
.terms{
  font-size: 12px;
  text-decoration: none;
  color: #039BE5
}

.form-label {
  margin-bottom: 0px;
}

.information {
  margin-bottom: 25px;
}

.btn-big {
  height: 50px;
}

.description {
  height: 100px;
}
