.navbar-lewagon {
  justify-content: space-between;
  background: $light-blue;
  font-family: $body-font;
  h1 {
    font-family: $headers-font;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
