
body{
  font: $body-font;
}
.card{
  border:none}
.logo{
  background-color: $orange
}
.totals tr td{
  font-size: 13px
}
.footer{
  background-color: $orange
}
.footer span{
  font-size: 12px
}
.product-qty span{
  font-size: 12px;color: #dedbdb
}
