
.paw{
  background-color: $orange;
}
.totals tr td{
  font-size: 13px;
}
.footer-orange {
  font-size: 12px;
  background-color: $orange
}
.product-qty span{
  font-size: 12px;
  color: #dedbdb
}
.invoice{
  background-color: $white;
}
.card-outfit{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.text-align-right{
  text-align: right;
}
