.card {
  min-width: 400px;
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;

  color: $navy;
    .btn {
      background-color: $navy;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

    }
}

.card-content {
  height: 200px;
}

.card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
}


.price {
  width: 100%;
  background: $light-blue;
  padding: 10px;
  border-radius: 10px;

}

.h5 {
  font-family: $body-font;
}
