.card {
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: $navy;
    .btn {
      background-color: $green;
    }
}

.price {
  background: $light-blue;
  padding: 10px;
  border-radius: 10px;
}

.h5 {
  font-family: $body-font;
}
